body {
	font-family: 'Russo One', sans-serif;
	text-align: center;
	background-image: url('https://s3-us-west-1.amazonaws.com/qix/circuit_board.jpg');
}

button {
	font-family: 'Russo One', sans-serif;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
  font-size: .8em;
  font-weight: 200;
	border-radius: .2em;
	text-align: center;
  border: 1px solid #bfbfbf;
	padding: 15px;
	border-bottom-width: 2px;
	border-bottom-color: rgba(0,0,0,0.15);
	cursor: pointer;
}

img {
	width: 60%;
	height: 60%;
}

h1 {
	font-size: 3.5em;
	color: #f71b3c;
}

h2 {
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 15px;
}

p {
	margin-top: 25px;
	padding-right: 80px;
	padding-left: 80px;
	margin-bottom: 15px;
}

canvas {
	margin-bottom: 95px;
	/*border-radius: 10em;*/
}

#boarder {
	box-sizing: border-box;
	background-clip: content-box;
	box-shadow: inset 0 0 0 50px rgba(17, 17, 17, 1);
	padding: 50px;
	/*border-radius: 10em;*/
	height: 600px;
	width: 1000px;
	margin: auto;
	margin-top: -695px;
	position: relative;
	z-index: 1;
}

.hidden {
	display: none;
}

.start-button {
	position: relative;
	margin: auto;
	margin-top: -395px;
	z-index: 1;
	background: none;
	border: none;
	color: #fff200;
	font-size: 7em;
}

.mute {
	background: none;
	color: #fff200;
	border: none;
	font-size: 2em;
	position: absolute;
	left: 105px;
	top: 160px;
}

.mute.true {
	color: #f71b3c;
}

.mute:hover {
	transform: scale(1.2);
}

.openBtn:hover,
.openBtn:focus,
.start-button:hover,
.start-button:focus {
		transform: scale(1.2);
		color: #00f6fd;
    text-decoration: none;
    cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-dialog {
	position: relative;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
	border-radius: .2em;
}

/* The Close Button */
.closeBtn {
	background-color: rgba(17, 17, 17, 1);
  /*color: #fff;*/
	color: #fff200;

	top: 20px;
	right: 130px;
}

.openBtn {
	top: 130px;
	left: 5px;
	background: none;
	border: none;
	color: #fff200;
	font-size: 1.1em;
}

.closeBtn:hover,
.closeBtn:focus {

		color: #00f6fd;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 300px;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 280px;
}

.prev {
	border-radius: 3px 0 0 3px;
	left: 280px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
	color: #fff200;
}

.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
